@model IEnumerable<dmuBlogger.Models.Review>

@{
    ViewBag.Title = "Index";
    string Title = "";
    if (ViewData["id"] == null)
    {
        Title = "All reviews";
    }
    else
    {
        Title = "Reviews for " + ViewData["name"];
    }
}
<br />
<h2>@Title</h2>

<p>
    @{
        if (ViewData["id"] == null)
        {
            @Html.ActionLink("To add a review or browse reviews by game, go to the game page and select a game", "../Games/Index/");
        }
        else
        {
            @Html.ActionLink("Add Review", "Create", new { id = ViewData["id"] });
        }
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            Game page
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.GameID == Convert.ToInt32(ViewData["id"]) || ViewData["id"] == null)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.ActionLink("View", "../Games/Details/", new { id = item.GameID })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </td>
        </tr>
    }
}

</table>
