@model IEnumerable<dmuBlogger.Models.Game>

@{
    ViewBag.Title = "Index";
    int x = Convert.ToInt32(TempData["DeveloperID"]);
    string Title = "";

    //Condition to check if the user originated from a developer details page or not, and to set the title appropriately
    if (ViewData["id"] == null)
    {
        Title = "All games";
    }
    else
    {
        Title = "Games by " + ViewData["name"];
    }
}
<br />
<h2>@Title</h2>

<p>
    <br />
    @{
        //Condition to check if the user originated from a developer details page or not
        if (ViewData["id"] == null)
        {
            @Html.ActionLink("To add a game or browse by developer, go to the developer page and select a developer", "../Developers/Index/");
        }
        else
        {
            @Html.ActionLink("Add Game", "Create", new { id = ViewData["id"] });
        }
    }
</p>
@using (Html.BeginForm())
{
    <p>
        <!--Search box to make it easier to search games-->
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeveloperID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th class="text-right">
            @Html.DisplayNameFor(model => model.GameReleaseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.DeveloperID == Convert.ToInt32(ViewData["id"]) || ViewData["id"] == null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.GameReleaseDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
                </td>
            </tr>
        }
    }

</table>
