@model IEnumerable<dmuBlogger.Models.Comment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int x = Convert.ToInt32(TempData["ReviewID"]);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comments for @TempData["ReviewID"]</title>
</head>
<body>
    <p>
        Comments for @TempData["ReviewID"]
        <br />
        @Html.ActionLink("Add Comment", "Create", new { id = TempData["ReviewID"] })
    </p>
    <table class="table">
        <tr>
            <!--<th>
                @Html.DisplayNameFor(model => model.ReviewID)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>-->
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        if (item.ReviewID == Convert.ToInt32(TempData["ReviewID"]))
        {
            <tr>
                <!--<td>
                    @Html.DisplayFor(modelItem => item.ReviewID)
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <!--<td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>-->
                <!--<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
                </td>-->
            </tr>
        }
    }

    </table>
</body>
</html>
