@model IEnumerable<dmuBlogger.Models.Comment>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    int x = Convert.ToInt32(TempData["ReviewID"]);
    string Title = "";

    if (ViewData["id"] == null)
    {
        Title = "Comments";
    }
    else
    {
        //Display the review the comments are for
        Title = "Comments for '" + ViewData["name"]+"'";
    }
}

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<h2>@Title</h2>
<body>
    <p>
        <br />
        @Html.ActionLink("Add Comment", "Create", new { id = ViewData["id"] })
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>-->
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.ReviewID == Convert.ToInt32(ViewData["id"]))
            {
                <tr>
                    <!--<td>
                        @Html.DisplayFor(modelItem => item.ReviewID)
                    </td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <!--<td>
                        @Html.DisplayFor(modelItem => item.EMail)
                    </td>-->
                    <!--<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
                    </td>-->
                </tr>
            }
        }

    </table>
</body>